<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>СВЯЗАТЬСЯ С НАМИ</h4>
        <ul>
          <li><a href="">kseniaagolubr&#64;gmail.com</a></li>
          <li><a href="">v.a.akberdina&#64;gmail.com</a></li>
          <li><a href="">m.vlasov&#64;gmail.com</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>ДОКУМЕНТЫ</h4>
        <ul>
          <li><a href="">Обработка персональных данных</a></li>
          <li><a href="">Соглашение с пользователями</a></li>
          <li><a href="">Правила использования информации</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>ПОМОЩЬ</h4>
        <ul>
          <li><a href="">Задать вопрос: regsciencegrid&#64;uiec.ru</a></li>
          <li><a href="">Техподдержка: support-rgs&#64;uiec.ru</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
