<header class="header">
  <div class="container">
    <div class="menu">
      <nav class="menu">
        <ul>
          <li><a href="/info_project">О ПРОЕКТЕ</a></li>
          <li><a href="/data">ДАННЫЕ</a>
            <ul class="dropdown">
              <li><a href="/data_base">БАЗА ДАННЫХ</a></li>
            </ul>
          </li>
          <li><a href="/service">СЕРВИСЫ</a>
            <ul class="dropdown">
              <li><a href="/calculator">КАЛЬКУЛЯТОР</a></li>
            </ul>
          </li>
          <li><a href="/researches">ИССЛЕДОВАНИЯ</a></li>
          <li><a href="/analytics">АНАЛИТИКА</a></li>
          <li><a href="/news">НОВОСТИ</a></li>
          <li><a href="/events">МЕРОПРИЯТИЯ</a></li>
          <li><a href="/account">ЛИЧНЫЙ КАБИНЕТ</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
